/* make is so you can actually see the cards on the screen and so theres nice, attractive colors  */
:root{
   --primary: #AB784E;
   --secondary: #FFC1CC;
   --dark: #1A5653;
   --light: #F3F3F3;
}

body{
    background-color: #D2B48C;
}
/* make the title of the game */
.Header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: var(--secondary);
    -webkit-text-stroke: 3px #1A5653;
    font-size: 45px;
}
.Real{
    border: solid 5px var(--secondary);
    border-radius: 7px;
    text-align: center;
    color: #FFC1CC;
    width: 40%;
    padding: 20px;
    font-size: 50px;
    margin: auto;
    margin-top: 100px;
    background-color: #AB784E;
    -webkit-text-stroke: 2px white;
}

.Stage{
    border: solid 5px var(--secondary);
    border-radius: 7px;
    text-align: center;
    color: #FFC1CC;
    width: 40%;
    padding: 20px;
    font-size: 50px;
    margin: auto;
    margin-top: 65px;
    display: none;
    background-color: #AB784E;
    -webkit-text-stroke: 2px white;
}

.Reveal{
    text-align: center;
    margin-top: 50px;
    
}

.Button{
    text-align: center;
   padding: 10px;

   
}

Button{
    color: white;
    background-color: #1A5653;
    padding: 7px;
    text-align: center;
}

.container{
    height: 125px;
    width: 80px;
    border: 7px solid #68BBE3;
    margin-left: 10px;
    background-color: #107869;
    color: #F3F3F3;


}

.Score{
    text-align: center;
    color: #1A5653;
    -webkit-text-stroke: 1px #107869;
    
}

.number{
    height: 25px;
    width: 50px;
    margin: 25px auto;
    margin-top: 30px;
    border: 2px var(--secondary);
    text-align: center;
}

.add{
    margin-left: 13px;
}

.sub{
    margin-left: 3px;
}
.scoreboard{
    position: fixed; top: 25%; left: 20px; 
    margin-left: 10%;
}

/* make the format of the card so u can see it, adjust sizing and placement using margins, padding, and more */
/* *{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50;
    min-height: 100vh;
} */
/* create dimentions of the card */
/* .card{
    margin: 100px auto 0;
    width: 300px;
    height: 200px;
} */
/* try to create an animation of the card turning */
/* .card_inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
/* create the rotattion */
/* .card__inner.is-flipped{
    transform: rotateY(180deg);
} */ 

/* .card__face{
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
overflow: hidden;
border-radius: 14px;
box-shadow: 0px 3px 18px 3px #000; */

/* } */